{% extends "layout.html" %}
{% block content %}


    <h1>RU Happy</h1>
    <p>&nbsp</p>

    <h2>RU Smiling</h2>
      <p>
        RU Smiling utilizes machine learning algorithims to detect if a person is currently smiling. It connects to the webcam
        on your computer or laptop and displays an onscreen visual. It utilizes resources Anaconda provides to streamline user
        experience.
      </p>
    <img src="/static/img/dannybot.png" class="img-fluid">

    <h2>Chatbox</h2>
      <p>
        Danny the Happy bot is able to communicate directly to the user via chat messages. Danny communicates through an
        algorithim designed to make him uplifting and cheerful. After a conversation with Danny you will be happier.
      </p>
    <img src="/static/img/dannybot.png" class="img-fluid">



{% endblock content %}
